@font-face {
  font-family: "iconfont"; /* Project id 4597384 */
  src: url('/common/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baitianheitian:before {
  content: "\e973";
}

